:root {
    --color-bg: #fff8ec;
    --color-1: #B54A4A;
    --color-2: #5B0000;
    --color-3: #280000;
}

:root[color-theme = "dark"] {
    --color-bg: #060030;
    --color-1: #ff7300;
    --color-2: #b20e0e;
    --color-3: #ffd4c2;
}