:root {
    --color-bg: #fff8ec;
    --color-1: #B54A4A;
    --color-2: #5B0000;
    --color-3: #280000;
}

:root[color-theme = "dark"] {
    --color-bg: #230505;
    --color-1: #d17a32;
    --color-2: #b33a3a;
    --color-3: #c37f63;
}